.projects {

  &__header {
    grid-area: gt;
    @include  section-title;
  }

  &__nav {
    grid-area: gn;
    @include nav;
  }

  &__project {
    grid-area: gp;
    @include section-content;
    margin: auto 0;

    @media (min-width: 1025px) {
      margin: initial;
    }

    &__title {
      @include title;

      & a:link,
      & a:visited {
        text-decoration: none;
        cursor: pointer;
        color: inherit;
      }

      &:hover {
        color: $color-gray;
      }

    }

    &__stack {
      @include subheader;
    }

    &__desc {
      @include description;
    }

  }

}