$color-black: #000;
$color-blue: #00CCDD;
$color-off-white: #f0f0f0;
$color-orange: #DC4405;
$color-white: #FFF;
$color-gray: #888;
$color-light-gray: #AAA;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;