.projects {
  @include desktop-padding;
  grid-area: gp;
  background-color: $color-off-white;
  display: grid;
  grid-template-rows: 2fr 11fr 2fr 5fr;
  grid-template-areas:
          "gt"
          "gp"
          "."
          "gn";
}